<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
</head>

<style>
    h1{
        text-align : center;
        margin-top : 50px;
    }
    .layout {
        width : 1000px;
        margin : 0 auto;
        margin-top : 40px;
    }
    table {
        width : 100%;
        border : 1px solid;
        text-align : center;
        border-collapse : collapse;
    }
    th, td {
        border : 1px solid;
    }
    #number {
        width : 10%;
    }
    #title {
        width : 70%;
    }
    #date {
        width : 20%;
    }

</style>

<body>

    <h1>개인메모장</h1>

    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글번호</th><th>제목</th><th>날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="memo : ${list}">
                    <td id="number" th:text="${memo.id}">1</td>
                    <td id="title">
                        <a th:text="${memo.title}" th:href="@{/memo/view(id=${memo.id})}"></a>
                    </td>
                    <td id="date" th:text="${memo.date}"></td>
                </tr>
            </tbody>
        </table>

        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
    </div>

</body>
</html>