<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>

<style>
    h1 {
        text-align : center;
    }
    .contentView{
        text-align : center;
        width : 1000px;
        margin : 0 auto;
    }

</style>

<body>
    <!--제목-->
    <h1 th:text="${memo.title}"></h1>

    <div class="contentView">
        <hr>
        <!--사진-->
        <img th:href="@{${memo.filepath}}">
        <!--내용-->
        <p th:text="${memo.content}"></p>
        <!--글삭제-->
        <a th:href="@{/memo/delete(id=${memo.id})}">삭제</a>
        <!--글수정-->
        <a th:href="@{/memo/modify/{id}(id=${memo.id})}">수정</a>
    </div>
</body>
</html>